<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link
			href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

			<!-- Font Awesome -->
			<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

			<!-- Libraries Stylesheet -->
			<link
			href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

			<!-- Customized Bootstrap Stylesheet -->
			<link href="{{asset('assets/css/style.css')}}" rel="stylesheet">


			<link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">

		{% endblock %}


	</head>
	<body>
		{% block body %}


			{% block javascripts %}

				<!-- JavaScript Libraries -->
				<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
				<script src=" {{asset('assets/lib/easing/easing.min.js ')}}"></script>


				<script src="{{asset('assets/lib/waypoints/waypoints.min.js')}}"></script>


				<script src="{{asset('assets/lib/counterup/counterup.min.js')}}"></script>


				<script src="{{asset('assets/lib/owlcarousel/owl.carousel.min.js')}}"></script>


				<!-- Template Javascript     // AdminController
								
								 -->
				<script src="{{asset('assets/js/main.js')}}"></script>

				// AdminController

			{% endblock %}
		{% endblock %}

	</body>
</html>
